
/* wide version */
@media (min-width: 1900px)  {
	/* misc */
	.new_feature_discord { margin: 220px 0 0 405px; }
	.jquery_discord_setcookie { margin: 253px 0 0 717px; }
	.d2soundtrack_trigger { margin: 350px 0 0 -316px !important; }
	.d2soundtrack_trigger_active { margin: 350px 0 0 -316px !important; }
	#bgeffect_activate { margin: -42px 0 0 685px !important; }
	#bgeffect_skull { margin: -44px 0px 0px 689px !important; }
	.equalizer { margin: 340px 0 0 -185px !important; }
	.join_bnet_chat { margin: 355px 0 0 720px; }
	.join_discord_chat { margin: 355px 0 0 667px; }
	.video_widen_position { margin: -390px 0 0 417px !important; }
	.bbcode_columns { width: 100%; padding-right: 10px; }
	
	/* site */
	#wrapper {
		width: 1307px !important;
		background: url(../img/devil_angel-d4-wide.png) no-repeat top center !important;
	}
	#content {
		width: 920px !important;
		float: left;
		margin: 15px 0 0 0px;
		background: url(../img/post_bg-d4-wide.jpg) repeat-y !important;
	}
	#sidebar_left {
		width: 191px !important;
		height: auto;
		background: url(../img/left_side_bg.jpg) repeat-y !important;
		float: left;
		margin: 15px 0 0 3px;
		position: relative;
	}
	#sidebar_right {
		width: 189px !important;
		height: auto;
		background: url(../img/right_side_bg.jpg) repeat-y !important;
		margin-top: 10px;
	}
	#bottom_border { width: 999px; background: url(../img/bottom_border2-wide.png) no-repeat !important; }
	.sidebar_sublinks_r { width: 150px !important;  margin-left: 4px; }
	
	/* d4 effect */
	.d4-corner-sprite-top-right,
	.d4-corner-sprite-top-left,
	.d4-corner-sprite-bottom-right,
	.d4-corner-sprite-bottom-left {
		width: 200px;
		height: 200px;
		position: inherit;
	}
	.d4-corner-sprite-top-right {
		background: url(../img/corner-sprite.png) -200px 0;
		top: -20px;
		right: 100%;
		margin: -14px -20px -200px auto;
	}
	.d4-corner-sprite-top-left {
		background: url(../img/corner-sprite.png) 0 0;
		top: 0;
		left: 0;
		margin: -20px 0px -170px -10px;
	}
	.d4-corner-sprite-bottom-right {
		background: url(../img/corner-sprite.png) -200px -200px;
		bottom: 0;
		right: 0;
		margin: -160px -20px -280px auto;
	}
	.d4-corner-sprite-bottom-left {
		background: url(../img/corner-sprite.png) 0px -200px;
		bottom: 0;
		left: 0;
		margin: 80px -20px -85px -10px;
	}
}

@media (max-width: 1900px)  {
	#wrapper {background: url(../img/devil_angel-d4.png) no-repeat top center !important; }
	#content { background: url(../img/post_bg-d4.jpg) repeat-y !important; }
	#bottom_border { background: url(../img/bottom_border2.png) no-repeat; }
}